@model RoomCast.Models.ViewModels.MediaFilePreviewViewModel

<div class="media-preview-backdrop" data-preview-overlay data-file-id="@Model.FileId">
    <div class="media-preview-dialog"
         role="dialog"
         aria-modal="true"
         aria-labelledby="media-preview-title-@Model.FileId"
         tabindex="-1">
        <header class="media-preview-toolbar">
            <div class="media-preview-toolbar__main">
                <button type="button"
                        class="media-preview-close"
                        data-preview-close
                        aria-label="Close preview">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M6.225 4.811 4.811 6.225 10.586 12l-5.775 5.775 1.414 1.414L12 13.414l5.775 5.775 1.414-1.414L13.414 12l5.775-5.775-1.414-1.414L12 10.586z" />
                    </svg>
                </button>
                <div class="media-preview-title">
                    <h2 id="media-preview-title-@Model.FileId">@Model.Title</h2>
                    <p>
                        <span class="media-preview-meta">@Model.FileType</span>
                        <span class="media-preview-meta">@Model.ContentType</span>
                        <span class="media-preview-meta">@Model.FileSizeLabel</span>
                    </p>
                </div>
            </div>
            <div class="media-preview-toolbar__actions" data-preview-actions>
                @* Placeholder for future toolbar buttons *@
            </div>
        </header>

        <div class="media-preview-body">
            @await Html.PartialAsync("_MediaPreviewSurface", Model)
        </div>
    </div>
</div>
